#container {
    display: flex;
    justify-content: space-between;
}

#mainPage {
    text-align: center;
}

#quizPage {
    display: none;
}

#donePage {
    display: none;
}

#scoresPage {
    display: none;
}